# Configurações do Banco de Dados
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=atmosview
DATABASE_URL=postgresql://postgres:postgres@db:5432/atmosview

# Configurações do Cache
REDIS_URL=redis://redis:6379/0

# Configurações de API e Porta
API_PORT=8000

# Configurações do Frontend
VITE_API_URL=http://localhost:8000
